{% extends 'base.html' %}

{% block title %}关于我们 - 家庭网站{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title mb-0">关于我们</h2>
            </div>
            <div class="card-body">
                <h3>家庭网站</h3>
                <p class="lead">一个专为家庭设计的私人网站平台</p>
                
                <hr>
                
                <h4>我们的使命</h4>
                <p>我们的使命是为家庭提供一个安全、私密的平台，帮助家庭成员记录和分享珍贵的回忆、重要事件和日常安排。</p>
                
                <h4>主要功能</h4>
                <div class="row mt-4">
                    <div class="col-md-4 text-center mb-4">
                        <div class="p-3 bg-light rounded">
                            <i class="fas fa-images fa-3x text-primary mb-3"></i>
                            <h5>家庭相册</h5>
                            <p>创建相册并上传照片，永久保存家庭珍贵回忆</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center mb-4">
                        <div class="p-3 bg-light rounded">
                            <i class="fas fa-history fa-3x text-success mb-3"></i>
                            <h5>家庭大事记</h5>
                            <p>记录家庭重要事件，以时间轴方式展示家庭历史</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center mb-4">
                        <div class="p-3 bg-light rounded">
                            <i class="fas fa-calendar-alt fa-3x text-warning mb-3"></i>
                            <h5>家庭日程</h5>
                            <p>管理家庭日程安排，设置提醒，不错过重要事项</p>
                        </div>
                    </div>
                </div>
                
                <h4>联系我们</h4>
                <p>如果您有任何问题或建议，请随时联系我们：</p>
                <ul>
                    <li>邮箱：contact@familywebsite.com</li>
                    <li>电话：123-456-7890</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 